# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax
* @sschnabe @rpahli @fabian-schlegel
.github/workflows/* @kokuwaio-bot @sschnabe @rpahli @fabian-schlegel
pom.xml @kokuwaio-bot @sschnabe @rpahli @fabian-schlegel
