config.stopBubbling = true

lombok.addNullAnnotations = CUSTOM:io.micronaut.core.annotation.NonNull:io.micronaut.core.annotation.Nullable
lombok.addJavaxGeneratedAnnotation = false
lombok.addLombokGeneratedAnnotation = true

# adjust model
lombok.equalsAndHashCode.callSuper = call
lombok.toString.callSuper = call
lombok.accessors.chain = true
